modules = ["java-graalvm22.3", "python-base-3.13"]
[nix]
channel = "stable-25_05"
packages = ["gradle", "jdk17"]

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 23941
externalPort = 80
